<div class="wrapper">
    <div class="center">
        <mat-form-field>
            <input type="text" matInput placeholder="Search" [(ngModel)]="searchInput" name="search" class="search" (keyup.enter)="onSearch(searchInput)">
            <button mat-button (click)="onSearch(searchInput)" type="button"><i class="fas fa-arrow-right"></i>Search</button>
        </mat-form-field>
    </div>
</div>
<div style="width:864px;">
    <ul *ngIf="apiResults">
        <li *ngFor="let result of apiResults">
           <span>{{result.docs}}</span>
        </li>
      </ul>
</div>